{% extends 'base.html' %}

{% block title %}فراموشی رمز عبور{% endblock %}

{% block content %}
<div class="wrapper">
    <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <h1>فراموشی رمز عبور</h1>
        <div class="input-box">
            <input type="email" name="email" placeholder="ایمیل" required>
            <i class='bx bxs-envelope'></i>
        </div>
        <button type="submit" class="btn">ارسال لینک بازنشانی</button>
        <div class="register-link">
            <p>رمز عبور خود را به خاطر آورده‌اید؟ <a href="{% url 'login' %}">ورود</a></p>
        </div>
    </form>
</div>
{% endblock %}
